:root {
  --blue: hsl(216, 98%, 52%);
  --indigo: hsl(263, 90%, 51%);
  --purple: hsl(260, 80%, 60%);
  --pink: hsl(330, 67%, 52%);
  --red: hsl(354, 70%, 54%);
  --orange: hsl(27, 98%, 54%);
  --yellow: hsl(45, 100%, 51%);
  --green: hsl(152, 80%, 40%);
  --teal: hsl(162, 73%, 46%);
  --cyan: hsl(195, 95%, 70%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(208, 7%, 46%);
  --gray-dark: hsl(210, 10%, 23%);
  --primary: hsl(216, 98%, 52%);
  --secondary: hsl(208, 7%, 46%);
  --success: hsl(152, 69%, 31%);
  --info: hsl(190, 90%, 50%);
  --warning: hsl(45, 100%, 51%);
  --danger: hsl(354, 70%, 54%);
  --light: hsl(210, 17%, 98%);
  --dark: hsl(210, 10%, 10%);
  font-size: 16px;
}

html, body {
  background-color: #282c34;
  color: white;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #363a45;
  height: 100vh;
  margin-right: 15px;
  /* overflow-y: scroll; */
  text-align: center;
  width: 250px;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

nav li a:hover {
  color: var(--gray);
}

.nav-active {
  color: grey;
  transition: all .3s ease-out;
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.teal {
  color: var(--teal);
}

.cyan {
  color: var(--cyan);
}

.orange {
  color: var(--orange);
}

.purple {
  color: var(--purple);
}

.violet {
  color: var(--violet);
}

.indigo {
  color: var(--indigo);
}

.pink {
  color: var(--pink);
}

.yellow {
  color: var(--yellow);
}

.red {
  color: var(--danger);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}
